# fly.toml app configuration file generated for bot-quote-telegram-gfly on 2025-12-13T01:26:38+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bot-quote-telegram-gfly'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  strategy = 'rolling'
  max_unavailable = 0.0

[env]
  PYTHONUNBUFFERED = '1'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
