app = "bot-quote-telegram-gfly"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[deploy]
  strategy = "rolling"
  max_unavailable = 0   # КЛЮЧЕВОЕ ОТЛИЧИЕ

[env]
  PYTHONUNBUFFERED = "1"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"
